<table class="table animated fadeIn">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Radio (m)</th>
        <th scope="col">Indice</th>
        <th scope="col">Fecha</th>
        <th scope="col">Consultar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historico of historicos; let i = index" >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ historico.latitud }}</td>
        <td>{{ historico.longitud }}</td>
        <td>{{ historico.radio }}</td>
        <td>{{ historico.resultado }}</td>
        <td>{{ historico.fecha }}</td>
        <td><button mat-raised-button color="primary" (click)="consultarHistorico( historico.id )" >Consultar</button></td>
      </tr>
    </tbody>
  </table>